.day-item {
    width: 150px;
    height: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e3e9ed;
    border-radius: 5px;
    cursor: pointer;
}

.day-of-week {
    margin: 0;
}

.weather-icon-day {
    width: 150px;
    height: 150px;
}

.temps {
    margin: 0;
}

.max-temp {
    font-weight: bold;
    margin-right: 10px;
}

.min-temp {
    margin-left: 10px;
}
